<#include "_layout_no_footer.html"/>
<@layout>
<div class="am-g">
	<div class="am-u-lg-3 am-u-md-6 am-u-sm-8 am-u-sm-centered">
		<br/>
        <div class="am-u-sm-12">
          <h2 class="am-text-center am-margin-top-lg">404. Not Found</h2>
          <p class="am-text-center">没有找到你要的页面</p>
        <pre class="page-404">
          .----.
       _.'__    `.
   .--($)($$)---/#\
 .' @          /###\
 :         ,   #####
  `-..__.-' _.-\###/
        `;_:    `"'
      .'"""""`.
     /,  ya ,\\
    //  404!  \\
    `-._______.-'
    ___`. | .'___
   (______|______)
        </pre>
        </div>
      </div>
    </div>
</@layout>
