<#include "_layout_no_footer.html"/>
<#macro script_import>
 <script src="${CPATH}/counter?cid=${content.id!}"></script>
</#macro> 
<#macro script>
window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"24"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</#macro>
<@layout>
<div class="detail">
	<div class="am-g am-container">
		<article class="am-article"><br/>
			<div class="am-article-hd detail-h2">
				<h1 class="am-article-title">${content.title!}</h1>
				<p class="am-article-meta" style="text-align: center;font-size: 1.8rem;">
				<i class="am-icon-clock-o"></i>${content.created?string('yyyy-MM-dd')!}&nbsp;&nbsp;
				<i class="am-icon-eye"></i>${content.viewCount!'0'}&nbsp;&nbsp;
				<i class="am-icon-commenting-o"></i>${content.commentCount!'0'}</p>
			</div>
			<div class="am-article-bd">${content.text!}</div>
		</article>
		<br/>
		<div id="share" class="bdsharebuttonbox">
			<div style="border-bottom: 1px solid #eee">分享到</div>
			<div><a href="#" class="bds_weixin" data-cmd="weixin"></a>
			<a href="#" class="bds_qzone" data-cmd="qzone">
			</a><a href="#" class="bds_tsina" data-cmd="tsina">
			</a><a href="#" class="bds_tqq" data-cmd="tqq"></a>
			<a href="#" class="bds_renren" data-cmd="renren"></a>
			<a href="#" class="bds_more" data-cmd="more"></a>
			</div>
		</div>
		<br/>
		<div id="ad" style="border-bottom: 1px solid #eee">广告</div>
		<#if content.isCommentEnable() >
		<form class="am-form am-g" action="${CPATH}/comment/submit"
			method="post" id="comment">
			<input type="hidden" name="cid" value="${(content.id)!}"> <input
				type="hidden" name="anchor" value="comment"> <input
				type="hidden" id="parent_id" name="parent_id">
			<h3>参入评论</h3>
			<textarea name="text" required class="" rows="5" placeholder="说点什么吧..."></textarea>

			<div class="am-form-inline" style="margin-top: 2px;">
				<#if
					OPTION('comment_need_captcha') ?? && OPTION('comment_need_captcha')=='true'>
				<div class="am-form-group">
					<label>验证码:</label>
				</div>
				<div class="am-form-group">
					<input class="am-form-field" type="text" name="comment_captcha" required>
				</div>
				<div class="am-form-group">
					<img class="am-radius" src="${CPATH}/captcha"
						onclick="this.src='${CPATH}/captcha?d='+Math.random();">
				</div>
				</#if>
				<div class="am-form-group">
					<button type="submit" class="am-btn am-btn-primary">发表评论</button>
				</div>
			</div>
		</form>
		</#if>
		<@jp.commentPage pageSize="20">
		<#if page ??>
		<br/>
		<div class="am-g">共${page.totalRow!}条评论</div>
		<div class="am-g am-comment" style="border-top: 1px solid #eee">
			<ul class="am-comments-list am-comments-list-flip">
			<#list page.getList() as comment>
				<li class="am-comment"><a href="#link-to-user-home"><img
						src="${CPATH}${comment.avatar!TPATH+'/assets/images/avatar.jpg'}"
						alt="" class="am-comment-avatar" width="48" height="48"></a>
					<div class="am-comment-main">
						<header class="am-comment-hd">
							<div class="am-comment-meta">
								<a href="#link-to-user" class="am-comment-author">${comment.author!comment.nickname!comment.username!}</a> 评论于
								<time 
									title="${(comment.created?string("yyyy-MM-dd"))!}">${(comment.created?string("yyyy-MM-dd"))!}</time>
							</div>
						</header>
						<div class="am-comment-bd">
							<p>${comment.text!}	</p>
						</div>
					</div></li>
			</#list>	
			</ul>
		</div>
		<#if (page.totalRow> 20 )>
            <ul class="am-pagination">
                <@pagination anchor="clist">
                <#list pages as pi>
                <li class="${pi.style!}"><a href="${pi.url!}">${pi.text!}</a></li>
                </#list>
                </@pagination>
            </ul>
        </#if> 
		</#if>
		</@jp.commentPage> 
	</div>
</div>
</@layout>
