<#include "_layout.html"/> <@layout>
<div class="get">
  <div class="am-g">
    <div class="am-u-lg-12">
      <h1 class="get-title">易转 - 转出生活、转出快乐、转出才华！</h1>
      <p>
        既然生活离不开网络，离不开手机，就让我们在网下活的更精彩、更快乐！<br/>工作中电脑前，生活里手机上，易转能让人们方便的记录下生活趣事、创作<br/>灵感文章、发现美好事物，并分享到自己微信、微博等朋友圈，和朋友共享<br/>快乐！
      </p>
    </div>
  </div>
</div>

<div class="detail">
  <div class="am-g am-container">
    <div class="am-u-lg-12">
      <h2 class="detail-h2">易转，使用简单，永不收费，让我们一起来转转转吧！</h2>

      <div class="am-g">
        <div class="detail-mb">
          <h3 class="detail-h3">
            <i class="am-icon-mobile am-icon-sm"></i>
            内容分享的好工具
          </h3>
          <p class="detail-p">
            告别手机只能编辑简单文字和图片痛处，在易转上能可视化编辑图文并茂的文章，并能直接扫进到手机，然后可以一键发布到微信、微博等各大社交平台。易转能记录文章的浏览量、转发量和粉丝评论内容。
          </p>
        </div>
        <div class="detail-mb">
          <h3 class="detail-h3">
            <i class="am-icon-fire am-icon-sm"></i>
            自媒体人创作的好平台
          </h3>

          <p class="detail-p">
            在互联网高度发展的今天，涌现出很多优秀的自媒体人，他们原创的内容能在易转上创作发表，并能被不同群体的人在不同社交平台上转发分享。自媒体人可以在原创内容上插入赞助广告，即创作也创收。
          </p>
        </div>
        <div class="detail-mb">
          <h3 class="detail-h3">
            <i class="am-icon-check-square-o am-icon-sm"></i>
            企业应用案例
          </h3>
          <p class="detail-p">
            舒璞网是一家手工皂专卖网，该网站也提供微店分享模式。该网站与易转合作，当舒璞网的分销用户注册后也能自动成为易转的注册用户，该分销用户可以使用舒璞网提供的手工皂、美容等相关的知识和文章，也可以自己创作，然后在自己的粉丝圈转发，来不断壮大自己的粉丝群。分享的文章自动带有自己微店的推广信息，免费给自己打广告！
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</@layout>