<#include "_layout_no_footer.html"/>
<#macro css_import>
<link rel="stylesheet" href="${CPATH}/static/plugins/toastr/toastr.css">
</#macro>
<#macro script_import> <script
	src="${CPATH}/static/plugins/toastr/toastr.js"></script> </#macro>
<#macro script>
function doSend(){
 	$("#form").ajaxSubmit({
			type : "post", 
			url : "${CPATH}/yz/user/send?type=2",
			dataType : "json", 
			success : function(data) { 
				if(data.errorCode == 0){
					var mv = $('#mobile').val();
					if (mv == null || mv == "") {
						$('#mobile').focus();
					} else {
						$('#validateCode').focus();
					}
					toastr.success(data.message,'操作提示');					
				}else{
					toastr.error(data.message,'操作失败');
				}
			},
			error : function() {
				alert("信息提交错误");
			}
	});
}
</#macro>
<@layout>
<div class="am-u-lg-3 am-u-md-6 am-u-sm-8 am-u-sm-centered">
		<br />
		<h1 class="am-animation-slide-top">找回密码</h1>
		<br /><label class="am-text-danger">${errorMsg!}</label>
		<form id="form" class="am-form" action="${CPATH}/yz/user/retrieve" method="post">
			<div class="am-input-group">
				<input id="mobile" type="number" name="mobile" value="${mobile!}" class="am-input-group-label" placeholder="请输入手机号码" maxlength="20" required /> <span
				class="am-input-group-label"><i
				class="am-icon-user am-icon-sm am-icon-fw"></i></span>
			</div>
			<br />
			<div class="am-input-group">
				<input type="password" name="password" value="${password!}" class="am-input-group-label" placeholder="请输入新密码" minlength="6" maxlength="20" required>
				<span class="am-input-group-label"><i
				class="am-icon-lock am-icon-sm am-icon-fw"></i></span>
			</div>
			<br />
			<div class="am-input-group">
				<input id="validateCode" type="text" name="validateCode" value="${validateCode!}" class="am-input-group-label" placeholder="请输入验证码" size="10" required><span
				class="am-input-group-btn"><button type="button" onclick="doSend();"
					class="am-btn am-btn-primary">免费获取验证码</button> </span>
			</div>
			<input type="password" style="height: 0px;width: 0px;opacity:0;">
			<br />
			<button type="submit"
			class="am-btn am-btn-primary am-btn-block am-btn-lg">提交</button>
		</form>
		<br />
		<br />
	</div>
</@layout>
