<#include "_layout_no_footer.html"/>
<#macro css_import>
<link rel="stylesheet" href="${CPATH}/static/plugins/toastr/toastr.css">
</#macro>
<#macro script_import> <script
	src="${CPATH}/static/plugins/toastr/toastr.js"></script> </#macro>
<#macro script>
$(function() {
    var $checkbox = $('#readAccept');
    $checkbox.on('change', function() {
    	if($(this).is(':checked')) {
    		$('#submitButton').removeAttr("disabled"); 
    	} else {
    		$('#submitButton').attr('disabled',"true");
    	}
    });
  })

function doSend(){
 	$("#form").ajaxSubmit({
			type : "post", 
			url : "${CPATH}/yz/user/send?type=1",
			dataType : "json", 
			success : function(data) { 
				if(data.errorCode == 0){
					var mv = $('#mobile').val();
					if (mv == null || mv == "") {
						$('#mobile').focus();
					} else {
						$('#validateCode').focus();
					}
					
					toastr.success(data.message,'操作提示');
				}else{
					toastr.error(data.message,'操作失败');
				}
			},
			error : function() {
				toastr.error("信息提交错误",'操作失败');
			}
	});
}
</#macro>
<@layout>
<div class="am-u-lg-3 am-u-md-6 am-u-sm-8 am-u-sm-centered">
		<br />
		<h1 class="am-animation-slide-top">用户注册</h1>
		<br /><label class="am-text-danger">${errorMsg!}</label>
		<form id="form" class="am-form" action="${CPATH}/yz/user/regist" method="post">
			<input type="hidden" name="goto" value="/user/login">
			<div class="am-input-group">
				<input id="mobile" type="number" name="mobile" value="${mobile!}" class="am-input-group-label" placeholder="请输入手机号码" required /> <span
				class="am-input-group-label"><i
				class="am-icon-user am-icon-sm am-icon-fw"></i></span>
			</div>
			<br />
			<div class="am-input-group">
				<input type="password" name="password" value="${password!}" class="am-input-group-label" placeholder="请输入密码" minlength="6" required>
				<span class="am-input-group-label"><i
				class="am-icon-lock am-icon-sm am-icon-fw"></i></span>
			</div>
			<br />
			<div class="am-input-group">
				<input id="validateCode" type="text" name="validateCode" value="${validateCode!}" class="am-input-group-label" placeholder="请输入验证码" size="10" required><span
				class="am-input-group-btn"><button type="button" onclick="doSend();"
					class="am-btn am-btn-primary">免费获取验证码</button> </span>
			</div>
			<input type="password" style="height: 0px;width: 0px;opacity:0;">
			<br />
			<div class="am-input-group am-checkbox">
				<input id="readAccept" type="checkbox" checked="true">我已阅读并接受
				<a href="#" data-am-modal="{target: '#serviceAgreement'}">《易转用户服务协议》</a>
			</div>
			<button id="submitButton" type="submit"
			class="am-btn am-btn-primary am-btn-block am-btn-lg">注册</button>
		</form>
		<br />
		<br />
	</div>
	
	<div class="am-popup" id="serviceAgreement">
	  <div class="am-popup-inner">
	    <div class="am-popup-hd" style="background-color: #0e90d2;">
	      <h4 class="am-popup-title">服务协议</h4>
	      <span data-am-modal-close
	            class="am-close">&times;</span>
	    </div>
	    <div class="am-popup-bd">
	    <p>
    易转依据本协议的规定提供服务，本协议具有合同效力。您必须完全同意本协议，才能够享受本网站提供的服务。您在易转注册成功即表示您完全接受本协议的全部条款。注册用户时请您认真阅读本《易转用户服务协议》，请您审阅并接受或不接受本《协议》（未成年人应在法定监护人陪同下审阅）。除非您接受本《协议》条款，否则您无权使用本网站提供的相关服务。您的使用行为将视为对本《协议》的接受，并同意接受本《协议》各项条款的约束。
</p>
<p>
    一、定义
</p>
<p>
    在本协议中所使用的下列词语，除非另有定义，应具有以下含义：
</p>
<p>
    1、 &quot;本网站&quot;在无特别说明的情况下，均指&quot;易转&quot;（www.yeezhuan.com）。
</p>
<p>
    2、 &quot;用户&quot;指符合本协议所规定的条件，同意遵守本网站各种规则、条款（包括但不限于本协议），并使用本网站的个人或机构。
</p>
<p>
    二、用户资格　
</p>
<p>
    1、只有符合下列条件之一的人员或实体才能申请成为本网站用户，可以使用本网站的服务。
</p>
<p>
    &nbsp; &nbsp; (1)年满十八岁，并具有民事权利能力和民事行为能力的自然人；
</p>
<p>
    &nbsp; &nbsp; (2)未满十八岁，但监护人（包括但不仅限于父母）予以书面同意的自然人；
</p>
<p>
    三. 用户的权利和义务
</p>
<p>
    1、用户有权根据本协议的规定及本网站发布的相关规则，利用本网站网进行创作、在本网站社区发帖、参加本网站的有关活动及有权享受本网站提供的其他的有关资讯及信息服务。
</p>
<p>
    2、用户有权根据需要更改登录和账户提现密码。用户应对以该用户名进行的所有活动和事件负全部责任。
</p>
<p>
    3、用户有义务确保向本网站提供的任何资料、注册信息真实准确，包括但不限于真实姓名、身份证号、联系电话、地址、邮政编码等。保证本网站可以通过上述联系方式与自己进行联系。同时，用户也有义务在相关资料实际变更时及时更新有关注册资料。
</p>
<p>
    4、用户不得以任何形式擅自转让或授权他人使用自己在本网站的用户帐号。
</p>
<p>
    5、用户不得在本网站网上发布国家禁止信息、不得发布侵犯他人知识产权或其他合法权益的信息，也不得发布违背社会公共利益或公共道德的信息。
</p>
<p>
    6.如果本网站存在任何触犯中国法律法规的行为或违反本协议的行为，本网站有权根据行为的严重性自行决定立即暂停或终止用户对本服务的使用，本网站无须就服务暂停或终止对用户承担任何责任，并且无须返还用户已支付的任何费用。
</p>
<p>
    7、如果本网站因用户的任何触犯中国法律法规的行为或违反本协议的行为而承受任何损失或损害，用户应该采取所有行动使本网站免于承担责任，并对由此产生的全部损失和损害由用户来承担赔偿责任。
</p>
<p>
    四. 知识产权条款
</p>
<p>
    1.用户在本网站提交的各种内容版权归属于用户。
</p>
<p>
    2. 用户应当了解并授权&quot;易转&quot;及&quot;易转&quot;许可的用户可以传播、二次编辑、分享通过易转编辑生成的作品。
</p>
<p>
    3. 本网站提供的服务及产品（包括但不限于观感、设计、图标、代码等）的版权、商标权、专利权及其他知识产权均归属于本网站。除非获得本网站明确书面允许，用户不得复制、重用任何HTML/CSS, JavaScript或者任何视觉设计，也不得对本网站产品进行反向工程、分解或进行编译或其他修改。
</p>
<p>
    五. 服务取消与终止条款
</p>
<p>
    1. 用户清楚的了解终止服务的后果。无需邮件或者电话确认，用户可以在任何时候通过点击账户链接并执行相应操作来终止您的账户及相应的所有信息。
</p>
<p>
    2. 一旦终止，所有隶属于这个账户的数据及信息将由本网站作删除处理，并且无法恢复。
</p>
<p>
    3. 一旦终止账户，账户之下的用户将无法访问任何相关的服务。
</p>
<p>
    六. 免责条款
</p>
<p>
    1. 用户了解本网站使用第三方的运营商和网络提供商提供必要的硬件、软件、存储或网络来运行易企微服务。本网站无需因为第三方的、或者不在本网站控制范围内的原因（如不可抗力）造成的运行问题（如服务中断、停顿、中止等）负责。。
</p>
<p>
    2. 如果本协议的某一条款或某一条款的一部分无效或不可执行，不影响本协议其他条款的有效性，无效或不可执行的条款将被视作已从本协议中删除。
</p>
<p>
    七. 隐私条款
</p>
<p>
    易转将严格履行用户个人隐私保密义务，承诺不公开、编辑或透露用户个人信息，
</p>
<p>
    但以下情况除外：
</p>
<p>
    1. 经用户授权透露这些信息；
</p>
<p>
    2. 应政府部门、法律及法规要求提供、披露相关用户个人资料；
</p>
<p>
    3. 在特定情况下，为竭力维护用户个人、其他社会个体和公共安全需要。
</p>
<p>
    八. 法律
</p>
<p>
    本协议根据现行中华人民共和国法律法规制定并解释。如发生协议条款与中华人民共和国法律法规相抵触时，则抵触内容将按法律规定重新解释，但不影响其它条款的效力。
</p>
<p>
    九. 解释权
</p>
<p>
    上述条款的解释权在法律允许的范围内归易转所有。
</p>
<p>
    相关参考法律法规：
</p>
<p>
    1.《全国人大常委会关于维护互联网安全的决定》
</p>
<p>
    2.《互联网文化管理暂行规定（2011修订）》
</p>
<p>
    3.《互联网信息服务管理办法》
</p>
<p>
    4.《互联网站禁止传播淫秽、色情等不良信息自律规范》
</p>
<p>
    5.《中华人民共和国侵权责任法》
</p>
<p>
    6.《中华人民共和国合同法》
</p>
<p>
    7.《中华人民共和国著作权法》
</p>
<p>
    8.《中华人民共和国计算机软件保
</p>

	    </div>
	  </div>
	</div>
	
</@layout>
