<#include "_layout.html"/>
<@layout>

<div class="am-g">
	<div class="am-u-lg-3 am-u-md-6 am-u-sm-8 am-u-sm-centered">
		<br />
		<h1 class="am-animation-slide-top">用户登录</h1>
		<br />
		<form class="am-form">
			<div class="am-input-group">
				<input type="text" placeholder="请输入已注册的手机号" required /> <span
					class="am-input-group-label"><i
					class="am-icon-user am-icon-sm am-icon-fw"></i></span>
			</div>
			<br />
			<div class="am-input-group">
				<input type="password"
					placeholder="请输入密码" minlength="6" required> <span
					class="am-input-group-label"><i
					class="am-icon-lock am-icon-sm am-icon-fw"></i></span>
			</div>
			<br />
			<button type="submit"
				class="am-btn am-btn-primary am-btn-block am-btn-lg">登
				录</button>
			<p class="am-animation-slide-bottom">
				<a href="#">忘记密码?</a>
			</p>
			<br />
		</form>
	</div>
	</@layout>