<#include "_layout_no_footer.html"/>
<#macro css_import>
<link rel="stylesheet" href="${CPATH}/static/plugins/toastr/toastr.css">
</#macro>
<#macro script_import> <script
	src="${CPATH}/static/plugins/toastr/toastr.js"></script> </#macro>
<#macro script>
$(function() {
    var $checkbox = $('#readAccept');
    $checkbox.on('change', function() {
    	if($(this).is(':checked')) {
    		$('#submitButton').removeAttr("disabled"); 
    	} else {
    		$('#submitButton').attr('disabled',"true");
    	}
    });
  })

function doSend(){
 	$("#form").ajaxSubmit({
			type : "post", 
			url : "${CPATH}/yz/user/send?type=1",
			dataType : "json", 
			success : function(data) { 
				if(data.errorCode == 0){
					var mv = $('#mobile').val();
					if (mv == null || mv == "") {
						$('#mobile').focus();
					} else {
						$('#validateCode').focus();
					}
					
					toastr.success(data.message,'操作提示');
				}else{
					toastr.error(data.message,'操作失败');
				}
			},
			error : function() {
				toastr.error("信息提交错误",'操作失败');
			}
	});
}
</#macro>
<@layout>
<div class="am-u-lg-3 am-u-md-6 am-u-sm-8 am-u-sm-centered">
		<br />
		<h1 class="am-animation-slide-top">用户注册</h1>
		<br /><label class="am-text-danger">${errorMsg!}</label>
		<form id="form" class="am-form" action="${CPATH}/yz/user/regist" method="post">
			<input type="hidden" name="goto" value="/user/login">
			<div class="am-input-group">
				<input id="mobile" type="number" name="mobile" value="${mobile!}" class="am-input-group-label" placeholder="请输入手机号码" required /> <span
				class="am-input-group-label"><i
				class="am-icon-user am-icon-sm am-icon-fw"></i></span>
			</div>
			<br />
			<div class="am-input-group">
				<input type="password" name="password" value="${password!}" class="am-input-group-label" placeholder="请输入密码" minlength="6" required>
				<span class="am-input-group-label"><i
				class="am-icon-lock am-icon-sm am-icon-fw"></i></span>
				<input type="password" style="height: 0px;width: 0px;opacity:0;">
			</div>
			<br />
			<div class="am-input-group">
				<input id="validateCode" type="text" name="validateCode" value="${validateCode!}" class="am-input-group-label" placeholder="请输入验证码" size="10" required><span
				class="am-input-group-btn"><button type="button" onclick="doSend();"
					class="am-btn am-btn-primary">免费获取验证码</button> </span>
			</div>
			<br />
			<div class="am-input-group am-checkbox">
				<input id="readAccept" type="checkbox" checked="true">我已阅读并接受
				<a href="#" data-am-modal="{target: '#serviceAgreement'}">《用户协议》</a>
			</div>
			<button id="submitButton" type="submit"
			class="am-btn am-btn-primary am-btn-block am-btn-lg">注册</button>
		</form>
		<br />
		<br />
	</div>
	
	<div class="am-popup" id="serviceAgreement">
	  <div class="am-popup-inner">
	    <div class="am-popup-hd" style="background-color: #0e90d2;">
	      <h4 class="am-popup-title">服务协议</h4>
	      <span data-am-modal-close
	            class="am-close">&times;</span>
	    </div>
	    <div class="am-popup-bd">
	      待拟定......
	      ......
	      ......
	      ......
	    </div>
	  </div>
	</div>
	
</@layout>
